<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName ?? 'Thila Coloma - Scoutsgroep Mechelen' }}</title>
    <meta name="description" content="Thila Coloma is de 5de grootste scoutsgroep van Vlaanderen, gevestigd in Mechelen sinds 1975. Meer dan 400 jongeren voelen zich bij ons thuis.">
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/slideshow.css">
    <link rel="stylesheet" href="/assets/css/navigation.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="https://use.typekit.net/rae0xxq.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="homepage">
    <div class="containerVoorpagina">
        <div class="upper">
            <div class="upper-left box">
                <div class="titel"><h1><mark>Thila Coloma</mark></h1></div>
                <p><mark>Thila Coloma is een gemengde <span>jeugdbeweging</span> die in 1975 werd opgericht en ondertussen tot de grootste scoutsgroep van <span>Mechelen</span> is uitgegroeid. Ruim 400 jongeren voelen zich bij ons thuis. Hiermee zijn we de 5de grootste scoutsgroep van Vlaanderen.<br><br>
                <span>Ons terrein</span> ligt tussen de Jubellaan en de Geerdegemstraat. Meer info over ons vindt je <a href="/over"><span>hier</span></a></mark>
                </p>
            </div>
            <div class="container-upper-right">
            <h1>Nieuws & Opkomende Evenementen</h1>          
            <div class="upper-right box" id="slideshow">
                <div class="slide">
                    <img src="/assets/images/slideshow/1image.jpg" alt="Pizzabak evenement">
                    <div class="slide-text">
                        <h2>Pizzabak</h2>
                        <p>TC organiseert weer een pizzabak voor onze nieuwe lokalen! Wij maken overheerlijke ambachtelijke pizza's die jullie 24 november kunnen komen ophalen op de scouts en thuis gewoon nog even moeten afbakken. We maken de pizza's zelf in samenwerking met broodbroeders.</p>
                        <button class="meer-button">Meer info</button>
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/images/slideshow/2image.jpg" alt="Belofteweekend">
                    <div class="slide-text">
                        <h2>Belofteweekend</h2>
                        <p>Het belofteweekend komt er weer aan!
                            Vergeet zeker niet in te schrijven via stamhoofd, de deadline is 30 november.
                        </p>
                        <button class="meer-button">Meer info</button>
                    </div>
                </div>
                <div class="slide">
                    <img src="/assets/images/slideshow/3image.jpg" alt="TC's Cadeaupakket">
                    <div class="slide-text">
                        <h2>TC's Cadeaupakket</h2>
                        <p>Nog op zoek naar het perfecte cadeau voor onder de kerstboom? Verras je geliefden met ons cadeaupakket met typisch Mechelse lekkernijen! 🎁
                        Samen met @sjolaa en de @broodbroeders stelden we dit heerlijke pakket samen, met voor ieder wat wils.
                        Het pakket bevat:
                        Een fles Blonde Thilaan
                        Een doosje Mechelse maantjes
                        Een zakje Mechelse torentjes
                        Bestel snel en eenvoudig via onze webshop en maak van deze feestdagen iets extra bijzonders!</p>
                        <button class="meer-button">Meer info</button>
                    </div>
                </div>
            </div>
            <div class="slideshow-dots">
                <span class="dot" onclick="currentSlide(0)"></span>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div>
            </div>
        </div>
        <nav class="lower navigation-grid" aria-label="Hoofdnavigatie">
            <a href="/thilala" class="nav-button" aria-label="Thilala clubblad">
                <img src="/assets/images/icons/Asset 11thilala.svg" alt="Thilala icoon">
                <h3>Thilala</h3>
            </a>
            <a href="/stamhoofd" class="nav-button" aria-label="Stamhoofd informatie">
                <img src="/assets/images/icons/Asset 1stamhoofd.svg" alt="Stamhoofd icoon">
                <h3>Stamhoofd</h3>
            </a>
            <a href="/kalender" class="nav-button" aria-label="Evenementen kalender">
                <img src="/assets/images/icons/Asset 12agenda.svg" alt="Kalender icoon">
                <h3>Kalender</h3>
            </a>
            <a href="/takken" class="nav-button" aria-label="Scouts takken">
                <img src="/assets/images/icons/Asset 7takken.svg" alt="Takken icoon">
                <h3>Takken</h3>
            </a>
            <a href="/verhuur" class="nav-button" aria-label="Lokaal verhuur">
                <img src="/assets/images/icons/Asset 13verhuur.svg" alt="Verhuur icoon">
                <h3>Verhuur</h3>
            </a>
            <a href="/meer" class="nav-button" aria-label="Meer informatie">
                <img src="/assets/images/icons/Asset 19meer.svg" alt="Meer icoon">
                <h3>Meer</h3>
            </a>
        </nav>
    </div>
    <script src="/assets/js/slideshow.js"></script>
    <script src="/assets/js/news-slideshow.js"></script>
</body>
</html>
